* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Roboto", "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
  margin:0;
  padding: 20px;
  padding-bottom: 40px;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 90vh;
}

.container-profile {
  min-height: 90vh;
}

.container-centerx p {
  text-align: left;
}

.warn-alert {
  background: #E9EDF2 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 60px;
  text-align:center;
}

.warn-alert-title {
  color: #3e4147;
  display: flex;
  margin-bottom: 35px;
}

p {
  font-size: 18px;
  color: #383b41;
}
